body {
    text-align: center;
    background-color: #f0f8ff;
    font-family: Arial;
}
h1 {
    color: #2c3e50;
}
button {
    background-color: #27ae60;
    color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}